<div class="mt-4">
  <form #f="ngForm">
    <mat-form-field>
      <input matInput type="text" placeholder="iPhone X" name="title" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="$99.99" name="price" ngModel>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="fashion" name="category" ngModel>
        <!-- <mat-option *ngFor="let c of categories" [value]="c">
          {{c}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      <mat-icon>search</mat-icon>SEARCH
      </button>
  </form>
</div>
